* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
}

nav { 
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;

    background: gray;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li{
    margin: 0 1rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    transition: 0.3s;
}
nav ul li a:hover{
    background: white;
    color: black;
}
.logo {
    width: 2rem;
    margin: 1rem auto;
}

.conteudo {
    text-align: center;
    background: black;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

