* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
}

nav { 
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    background: gray;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 1rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
}
.logo {
    width: 2rem;
}

.conteudo {
    text-align: center;
}

